ul{margin:0;padding:0;}
li{margin:0;padding:0;display: inline;}

body {
	font: 13px "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
	color: #444;
	background-color: #888;
}

#spa {
	position: absolute;
	top: 8px;
	left: 8px;
	bottom: 8px;
	right: 8px;
	min-height: 500px;
	min-width: 500px;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 0px 8px;
}

#left {
	position: absolute;
	background-color: #8888FF;
	top: 40px;
	bottom: 40px;
	width: 150px;
}

.left-init {
	background-color: #FF8888;
	width: 100%;
}

.left-management{
	background-color: #FFF888;
	width: 100%;
}

div.left-management li.menuitem{
	height:25px;
	display:block;
	line-height:25px;
	text-decoration:none;
	text-align: left;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	color:#646464;
	border-bottom: 1px solid #bbbbbb;
	background-image: linear-gradient(to top, #E4E4E4 0%, #FFF 21px);
	background-image: -webkit-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	background-image: -o-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	background-image: -ms-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	background-image: -moz-linear-gradient(bottom, #E4E4E4 0%, #FFF 21px);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E4E4E4');
	cursor: pointer;
}

#middle {
	position: absolute;
	background-color: #E6FFED;
	left: 150px;
	top: 40px;
	bottom: 40px;
	right: 0px;
}

#middle .header {
	width: 100%;
	height: 40px;
}

#middle .field {
	float: left;
}

#middle .header {
	display: block;
	background: #BB0;
	border: 1px solid #888;
	float: left;
}

#middle .spaceBox {
	display: block;
	background: #BB0;
	border: 1px solid #888;
	float: left;	
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	box-sizing: border-box;
}

#middle .input {
	float: left;
	background: #EDFD78;
	border: 1px solid #888;
	margin: 2px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
}

#middle .work, #middle .free, #middle .space {
	float: left;
	background: #C55;
	border: 1px solid #888;
	margin: 2px;
	width: 25px;
	height: 25px;
	box-sizing: border-box;
}
#middle .free {
	background: #FBFFFB;
}

#middle .space {
	background: #E4EDFF;
}