<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="main">
		
		<!-- header start -->
		<div id="header">
			<div id="headerbar">
				<div class="top_image_header">
					<div style="font-size:48px; color:#FFFFFF; margin-top: 15px; margin-left: auto; font-style:italic">ГУЛЛИВЕР
						<div style="font-size:17px; color:#FFFFFF; margin-top: 20px; margin-left: auto;">Студия праздников</div>
					</div>
				</div>
				<div class="page_title_container">Превращаем маленькие события в БОЛЬШИЕ!
				</div>
				<div class="main_info_container">
					<div class="phones_container">
						<span style="font-size:18px; color:#FFFFFF">
						(044) 223-46-19&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						(050) 339-00-90&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						(097) 011-66-77
						</span>
					</div>
				</div>
			</div>						
			<div id="menubar"></div>
		</div>
		<!-- header end -->
		
		<!-- middle start -->			
		<div id="middle">
			<!-- left start -->
			<div id="leftcol">
				<div class="module-header">
					<h3>ШОУ ПРОГРАММА</h3>
				</div>
				<div id="leftmenu"></div>
				<div class="module-footer"></div>
			</div>
			<!-- left end -->
			<!-- content start -->

				<div id="content"></div>

			
			<!-- content end -->
		</div>
		<!-- middle end -->
	</div>
</body>